img {
  border-radius: 50%;
  width: 30px;
  height: auto;
}

.table-container {
  max-height: 350px;
  overflow: auto;
  border: solid 1px #dee2e6;
  border-radius: 2%;
}

.list-group {
  margin-top: 50px;
  height: 250px;
  overflow: auto;
  border: solid 1px #dee2e6;
  border-radius: 2%;
}

.no-comments {
  text-align: center;
  padding: 50px;
}