@mixin container() {
  overflow: auto;
  border: solid 1px #dee2e6;
  border-radius: 2%;
  resize: vertical;
}

img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.table-container {
  @include container;
  height: 350px;
}

.list-group {
  @include container;
  height: 300px;
}

.no-comments {
  text-align: center;
  padding: 30px;
}

.comments-container {
  margin-top: 30px;  
}